.top_img{

    margin-top:-600px;
    height: 50%;
    width: 50%;
 }
 h2{
     color: pink;
 }
 .plofile{
     vertical-align: top;
     margin-left:500px ;
     font-size: 15px;
 }
 
 .cards__wrappper{
     display: inline-block;
     
 }